@{
    // Layout = "/Views/Shared/_Layout.cshtml";
    Layout = "/Views/Shared/_AuthLayoutBackground.cshtml";
}

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    /*for tab control*/
    div.login-logout-tab div.card-header {
        padding: 0px 0px 12px 0px;
    }

    div.login-logout-tab ul.nav-tabs {
        margin: 0px 0px -12px 0px;
    }

    div.login-logout-tab li.nav-item {
        width: 50%;
    }

    div.login-logout-tab a.nav-link {
        font-size: 25px;
        color: #495057;
        text-align: center;
    }

    div.card-content {
        padding: 10px 20px;
    }

    /*login form*/
    div.login-form-icon {
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 2px;
    }

    input[type=text] {
        background: #fff;
        border: 1px solid #999;
        float: left;
        font-size: 13px;
        height: 33px;
        margin: 0;
        padding: 0 0 0 15px;
        width: 100%;
    }

    input[type=password] {
        background: #fff;
        border: 1px solid #999;
        float: left;
        font-size: 13px;
        height: 33px;
        margin: 0;
        padding: 0 0 0 15px;
        width: 100%;
    }

    .error-message {
        color: #cc0033;
        display: inline-block;
        font-size: 12px;
        line-height: 15px;
        margin: 5px 0 0;
    }




</style>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Register">Register</a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            // Get current pathname
            var current = location.pathname;

            // Handle case where the page is initially routed to /
            if (current == '/') {
                var loginLink = $("a[href='/Account/Login']");
                loginLink.addClass("active");
            } else {
                // Handle case where the page is routed to ~/Account/Login.cshtml or ~/Account/Register.cshtml
                $('.nav-tabs li a').each(function () {
                    var $this = $(this);
                    
                    if (current.indexOf($this.attr('href')) !== -1) {
                        $this.addClass('active');
                    }
                })
            }  
        })
  </script>
}