@model String;

<div class="modal-fade" id="signInError">
    <div class="modal-dialog">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Error signing in</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span>x</span>
            </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            @Model
        </div>
    </div>
</div>