@{
    ViewData["Title"] = "Login";
}

@{ 
    Layout = "_AuthLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <table>
        <tr>
            <td>Enter Username:</td>
            <td>@Html.TextBox("Username")</td>
        </tr>
        <tr>
            <td>Enter Password:</td>
            <td>@Html.Password("Password")</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}