@{
    ViewData["Title"] = "Login";
}

@{ 
    Layout = "_AuthLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <table>
        <tr>
            <td>Enter Username:</td>
            <td>@Html.TextBox("Username")</td>
        </tr>
        <tr>
            <td>Enter Password:</td>
            <td>@Html.Password("Password")</td>
        </tr>
        <tr>
            <!-- <td colspan="2"><input class="btn btn-primary" type="submit" value="Submit" /></td> -->
        </tr>
    </table>
    <input class="btn btn-primary justify-content-center" type="submit" value="Submit" />
}