@{
    ViewData["Title"] = "Home Page";
}

@model BugTracker.ViewModels.DashboardViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<!-- Cards section -->

<div class="updates-cards row my-4">
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Scrum Update</h5>
            <div class="card-body">
                <p class="card-text">Sprint #4 completed; customer review in progress.</p>
                <p class="card-text text-success">December 8th, 2021</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Scrum Update</h5>
            <div class="card-body">
                <p class="card-text">Sprint #5 begun; tasks assigned.</p>
                <p class="card-text text-success">January 8th, 2022</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Scrum Update</h5>
            <div class="card-body">
                <p class="card-text">Sprint #5 midway point.</p>
                <p class="card-text text-success">January 19th, 2022</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card text-white bg-primary">
            <h5 class="card-header bg-primary">Scrum Update</h5>
            <div class="card-body">
                <p class="card-text">Sprint #5 extension approved.</p>
                <p class="card-text text-success">January 25th, 2022</p>
            </div>
        </div>
    </div>
</div>

<!-- Chart and Table Section -->
<div class="container">
    <div class="row">
        <!-- Column for table -->
        <div class="col-6">
            <h4 style="text-align: center;">Recently Viewed Tickets</h4>
            <table id="dummyTable">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Viewed</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.RecentlyViewedIssues == null)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.RecentlyViewedIssues)
                        {
                            <tr>
                                <td><a asp-controller="Issues" asp-action="Details" asp-route-id="@item.Issue.ID">@item.Issue.Name</a></td>
                                <td>@item.TimeViewed</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- Column for chart -->
        <div class="col-6">
            <canvas height="300" width="240" id="dummyChart"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#dummyTable").DataTable({
                order: [[1, "asc"]],
                lengthMenu: [5, 10, 15]
            });
        })
    </script>

    <script>
        // Setting up the chart data
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];
        const data = {
            labels: labels,
            datasets: [{
                label: '% Sales By Quarter',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };

        // Defining the chart
        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        // Displaying the chart
        var dummyChart = new Chart(
            $("#dummyChart"),
            config
        )
    </script>
}