@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BugTracker.ViewModels.TaskCardViewModel;

<h4>Testing this god damn shit</h4>
<h4>@Html.DisplayFor(modelItem => modelItem.projectTask.ID)</h4>
<br />



